# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [6]:
# Set the date column as the DataFrame index
# df=df.set_index('date')
# df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [4]:
from scipy import stats

In [6]:
# Filter data for desired months

june_df = df[df['date'].dt.month == 6]
june_df.head(30)

         station       date  prcp  tobs
133  USC00519397 2010-06-01  0.00    78
134  USC00519397 2010-06-02  0.01    76
135  USC00519397 2010-06-03  0.00    78
136  USC00519397 2010-06-04  0.00    76
137  USC00519397 2010-06-05  0.00    77
138  USC00519397 2010-06-06  0.00    78
139  USC00519397 2010-06-07  0.00    77
140  USC00519397 2010-06-08  0.00    78
141  USC00519397 2010-06-09  0.00    78
142  USC00519397 2010-06-10  0.00    79
143  USC00519397 2010-06-11  0.00    78
144  USC00519397 2010-06-12  0.00    78
145  USC00519397 2010-06-13  0.00    78
146  USC00519397 2010-06-14  0.00    77
147  USC00519397 2010-06-15  0.00    78
148  USC00519397 2010-06-16  0.00    78
149  USC00519397 2010-06-17  0.00    77
150  USC00519397 2010-06-18  0.00    77
151  USC00519397 2010-06-19  0.00    82
152  USC00519397 2010-06-20  0.00    78
153  USC00519397 2010-06-21  0.00    78
154  USC00519397 2010-06-22  0.00    78
155  USC00519397 2010-06-23  0.00    78
156  USC00519397 2010-06-24  0.00    78
157  USC00519397 2010-06-25  0.00    77
158  USC00519397 2010-06-26  0.02    76
159  USC00519397 2010-06-27  0.00    78
160  USC00519397 2010-06-28  0.00    78
161  USC00519397 2010-06-29  0.00    78
162  USC00519397 2010-06-30  0.00    78

In [13]:
dec_df = df[df['date'].dt.month == 12]
dec_df.head(30)

         station       date  prcp  tobs
305  USC00519397 2010-12-01  0.04    76
306  USC00519397 2010-12-03  0.00    74
307  USC00519397 2010-12-04  0.00    74
308  USC00519397 2010-12-06  0.00    64
309  USC00519397 2010-12-07  0.00    64
310  USC00519397 2010-12-08  0.00    67
311  USC00519397 2010-12-09  0.00    77
312  USC00519397 2010-12-10  1.58    66
313  USC00519397 2010-12-11  0.77    69
314  USC00519397 2010-12-12  0.00    68
315  USC00519397 2010-12-13  0.00    68
316  USC00519397 2010-12-14  0.00    71
317  USC00519397 2010-12-15  0.00    74
318  USC00519397 2010-12-16  0.00    67
319  USC00519397 2010-12-17  0.00    66
320  USC00519397 2010-12-18  0.00    69
321  USC00519397 2010-12-19  1.40    71
322  USC00519397 2010-12-23  0.00    70
323  USC00519397 2010-12-24  0.00    70
324  USC00519397 2010-12-26   NaN    74
325  USC00519397 2010-12-27  0.13    74
326  USC00519397 2010-12-28  0.55    71
327  USC00519397 2010-12-29  0.06    75
328  USC00519397 2010-12-30  0.01    75
329  USC00519397 2010-12-31  0.00    72
643  USC00519397 2011-12-01  0.03    69
644  USC00519397 2011-12-02  0.08    68
645  USC00519397 2011-12-03  0.00    73
646  USC00519397 2011-12-04  0.00    74
647  USC00519397 2011-12-05  0.00    73

In [15]:
from icecream import ic
# Identify the average temperature for June
avg_june = june_df['tobs'].mean()
ic(round(avg_june,2))

avg_dec = dec_df['tobs'].mean()
ic(round(avg_dec,2))

ic| round(avg_june,2): 74.94
ic| round(avg_dec,2): 71.04

71.04

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis